body {
    margin: 0;
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-around;
}
#error-el{
    margin: 0 52px 15px 52px;
    color: red;
}
#container-el {
    display: inline-block;
    background-color: #1F2937;
    height: 800px;
    width: 550px;
    margin: 0 auto;
}

#inner-el {
    /* justify-content: flex-start;
    flex-direction: column;
    margin: 115px 0px 0px 52px */
}
.header-el {
    margin: 90px 120px 10px 52px; */
    font-family: 'Karla', sans-serif;
    
    margin-bottom: 10px;
    font-size: 40px;
    font-family: ;
}

.slidecontainer{
    display: flex;
    justify-content: space-between;
    margin-left: 52px;
    margin-right: 52px;
    
}
.labels-el{
    font-family: 'Karla', sans-serif;
    color: #FFFFFF;
    
}

#header-line1-el {
    color: white;
}

#header-line2-el{
    color: #4ADF86
}

#subheader-el{
    font-family: 'Inter', sans-serif;
    margin-left: 52px;
    color: #d5d4d8;
    font-size: 20px;
}

#generate-btn-el {
    background-color: #10B981;
    border: none;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    width: 191px;
    height: 52px;
    padding: 9px 17px 9px 15px;
    margin-left: 52px;
    margin-top: 51px;
    margin-bottom: 35px;
}

#hr-el{
    width: 446;
    color: #2F3E53;
}

#generated-el{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-left: 52px;
    width: 446px;
    height: 39px;
}

.generatedbtn-el{
    width: 211px;
    height: 39px;
    background-color: #273549;
    border: none;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #55F991;
}

.toggles-el{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 52px;
    margin-right: 52px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* length slider*/
  .slider-pass {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider-pass:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider-pass handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider-pass::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider-pass handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider-pass::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }